@import "../styles/colors";

.filter {
  fill: $white;

  &__button,
  &__level-button {
    background: transparent;
    border: none;
    padding: 0.5em;

    &:focus, &:hover {
      outline: none;
      border: 1px solid $grey-light;
      border-radius: 50%;
      padding: 0.5em;
    }
  }
  &--open {
    display: flex;
    justify-content: space-evenly;
    max-width: 59rem;
    margin: 0 auto;
  }
  &--closed {
    display: none;
  }
}
