@import "../styles/colors";

.filter {
  display: flex;
  flex-direction: column;
  max-width: 59rem;
  padding: 0.3rem 1rem;

  &__logo {
    fill: $white;
  }

  &__button-wrapper {
    text-align: end;
  }

  &__button {
    background: transparent;
    border-radius: 50%;
    border: 2px solid $white;
    padding: 0.3em 0.5em;
    margin: 0.3rem 1.2rem;
  }

  &__text {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__level-button {
    background: transparent;
    border: 1px solid transparent;
    padding: 0.5em;
    border-radius: 50%;

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid $grey-light;
    }
  }
  &--open {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media (min-width: 990px) {
    }
  }
  &--closed {
    display: none;
  }
}
