.hero {
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  
    &__inner-container {
      text-align: center;
      padding: 0 1rem;
    }
  
    &__heading {
      font-size: 1.9em;
      margin: 0;
    }
    &__intro {
      font-size: 0.9em;
      margin-top: 0.8rem;
      margin-bottom: 1.5rem;
    }
  }  