@import "../styles/colors";

.list {
  list-style: none;
  padding: 0 0.2em;

  .list-item {
    background: $black-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

    &__left-wrapper, &__right-wrapper {
      display: inline-flex;
    }

    &__image {
      object-fit: cover;
      width: 60px;
      height: 60px;
    }

    &__text-wrapper {
      margin-left: 1rem;
    }

    &__title {
      font-size: 0.8em;
      margin-bottom: 0.2rem;
    }

    &__artist {
      font-size: 0.8em;
    }
    &__level-indicator {
      color: $white;
    }
  }
  .list-item:nth-child(odd) {
    background: $black;
  }

}

.favorite {
  &__button {
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 1rem;
  }
  fill: $black;
  &--active {
    fill: $red;
  }
  &--notactive {
   fill: $grey-dark;
  }
}
