@import "../styles/colors";

.list {
  list-style: none;
}

.favorite {

  &__button {
    // background-color: transparent;
    outline: none;
    border: none;
  }
  fill: $black;
  &--active {
    fill: $red;
  }
}
