@import "../styles/colors";

.search {
  max-width: 38rem;
  height: 3rem;
  margin: 0 auto;

  &__container {
    background-color: $white;
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;

    &:focus-within {
      border: 2px solid $grey-dark;
    }
  }

  &__logo {
    vertical-align: middle;
  }
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  width: calc(100% - 55px);
  height: 2.9rem;
}

input[type="search"]:focus {
  outline: none;
}
