@import "../styles/colors";

.search {
  max-width: 35rem;
  height: 3rem;
  margin: 0 auto;

  &__container {
    background-color: $white;
    max-width: 35rem;
    margin: 0 auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
  }

  &__logo {
    vertical-align: middle;
  }
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  width: calc(100% - 55px);
  height: 2.9rem;
}

input[type="search" i] {
  // padding: 0 2rem;
}

input[type="text"]:focus {
  //  outline: none;
  //  border: 1px solid #a0d18c;
  //  color: #2d9fd9;
}
input[type="search"]:focus {
  outline: none;
}
