@import "./styles/colors";

$breakpoint-tablet: 768px;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-size: 14px;
  background-color: $black;
  color: $white;
  @media (min-width: $breakpoint-tablet) {
    font-size: 18px;
  }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="search"] {
  -webkit-appearance: none;
}
